window#waybar {
  background-color: alpha(@background-alt, 0.9);
}

#waybar > box {
  background: none;
  opacity: 1;
  border-radius: 0px;
  /*padding: 13px 0px 13px 0px;*/
}

.module:not(#clock):not(#workspaces):not(#title):not(#window):not(#battery) {
  margin: -1px 0px -1px 0px;
  border: 1px solid @border;
}

#workspaces {
  margin: -1px 0px -1px -1px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid @border;
}

#battery {
  margin: -1px -1px -1px 0px;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid @border;
}
