@define-color cursor #C4B6C5;
@define-color background #141517;
@define-color foreground #C4B6C5;
@define-color visual  #27282A;
@define-color color0  #1C1D1F;
@define-color color1  #9D777D;
@define-color color2  #7C9793;
@define-color color3  #A18877;
@define-color color4  #788CC2;
@define-color color5  #8583BC;
@define-color color6  #4C6B8D;
@define-color color7  #766D76;
@define-color color8  #666068;
@define-color color9  #c4959c;
@define-color color10 #9bbdb8;
@define-color color11 #c9aa95;
@define-color color12 #96aff2;
@define-color color13 #a6a4eb;
@define-color color14 #5f86b0;
@define-color color15 #C4B6C5;
