@import "./colors-moon.css";

* {
  border: none;
  font-family: "Inter Nerd Font Propo";
  font-size: 15px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
  color: @text-dim;
  opacity: 1;
  transition: none;
}

#waybar > box {
  background-color: alpha(@background-alt, 0.9);
  box-shadow: 0 0 1px 1px alpha(@border, 0.2) inset;
  padding: 4px;
}

window#waybar.empty,
#window,
#window:hover {
  animation: none;
  margin-left: 4px;
  padding: 0;
}

/* Rounding */
#battery,
#workspaces,
.module {
  border-radius: 8px;
}

/* Color Consistency */
#workspaces,
#workspaces button,
#battery,
#cpu,
#memory {
  box-shadow: 0 0 2px 1px alpha(@border, 0.2) inset;
  background-color: alpha(@background, 0.9);
}

#pulseaudio,
#wireplumber,
#backlight,
#power-profiles-daemon,
#network {
  background: none;
  /* background-color: alpha(@background-alt, 0.9); */
}

.module:not(#window) {
  color: alpha(@text, 0.65);
}

/* Borders */
.module:not(#clock):not(#title):not(#window) {
  /* border: 1px solid alpha(@border, 0.5); */
}
#waybar > box {
  /* border-bottom: 2px solid @border; */
}

/* Icon Spacing */
#pulseaudio,
#wireplumber,
#backlight,
#power-profiles-daemon,
#network {
  margin: -5;
  padding: 1;
}

.module:not(#clock):not(#workspaces):not(#title):not(#window):not(#battery) {
  transition: all 0.25s linear;
}

.module:hover:not(#clock):not(#workspaces):not(#taskbar):not(#tray):not(
    #window
  ) {
  color: @foreground;
  text-shadow: none;
  opacity: 0.5;
}

#clock {
  color: @text;
  font-weight: bold;
  font-style: italic;
}

#battery {
  transition: all 0.25s linear;
  margin-right: 4px;
}

#workspaces {
  background: @line;
  transition: all 0.25s linear;
  margin-left: 4px;
}

#workspaces button {
  color: @text-dim;
  background: alpha(@visual, 0.25);
  margin: 1px;
  padding: 2px 8px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @text;
  background: @visual;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:first-child {
  margin-left: 2px;
  border-radius: 8px 4px 4px 8px;
}

#workspaces button:last-child {
  margin-right: 2px;
  border-radius: 4px 8px 8px 4px;
}

#workspaces button:hover {
  background: @background;
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.5;
}

#hyprland-window.empty {
  border: none;
}

#hyprland-window,
#window,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#clock,
#power-profiles-daemon {
  min-width: 10px;
}

#clock {
  font-size: 15px;
}

#backlight {
  font-size: 18px;
}

tooltip {
  padding: 0.5px;
  opacity: 1;
}

.hidden {
  background: transparent;
  opacity: 0;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  font-size: 16px;
}

tooltip {
  padding: 4px;
  font-family: "Noto Sans Mono";
  font-family: "Inter Nerd Font Propo";
  background: alpha(@background-alt, 0.9);
  border: 1px solid @border;
  border-radius: 8px;
  font-size: 12px;
}

tooltip label {
  color: @text;
  font-weight: normal;
}

#pulseaudio,
#wireplumber,
#backlight,
#power-profiles-daemon,
#network {
  min-width: 40px;
}

#cpu,
#battery,
#memory {
  min-width: 67px;
}

#battery.warning {
  color: @red;
}

#battery.critical.charging {
  color: @brightred;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: @red;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @text-dim;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
