@import "./colors.css";


* {
  /*color: @comment:*/
  border: none;
  /* border-radius: 8px; */
  font-family: 'JetBrainsMono NFP';
  font-size: 14px;
  font-weight: bold;
  min-height: 16px;
}

tooltip {
  opacity: 1;
}

window#waybar {
  background-color: transparent;
  color: @comment;
  margin: 0;
  padding: 0;
  transition-property: margin-top;
  transition-duration: 0.75s; /* Adjust speed here */
  transition-timing-function: ease-in;
}

#waybar>box {
  background-color: alpha(@background, 0.90);
  /*border: 1px solid alpha(@line, 1.0);*/
  padding: 0px 2px;
  transition-property: background-color;
  transition-duration: .5s;
}


window#waybar.empty #window #window:hover {
  background: none;
  color: transparent;
  animation: none;
  border-radius: 4px 0px 0px 4px;
  margin-left: 4px;
  padding: 0;
}

.module:not(#clock):not(#workspaces):not(#title):not(#window) {
  background: alpha(@background, 0.5);
  color: alpha(@color11, 0.85);
  padding: 0 4px;
  margin: 0px 2px;
  border-radius: 4px;
  border: 1px solid alpha(@bar-border, 0.95);
  text-shadow:
    -1px -1px 2px @line,
    1px -1px 2px  @line,
    1px 1px 2px   @line,
    -1px 1px 2px  @line;
  box-shadow: 0px 0px 3px 2px alpha(@visual, 0.5);
  transition: all 0.25s linear;
}


.modules-center {
  background: none;
  margin: 1px 2px;
  padding: 0 10px;
  border: none;
}


.module:hover:not(#clock):not(#workspaces):not(#taskbar):not(#tray):not(#window) {
  background: alpha(@bar-border, 0.15);
  /*color: @color11;*/
  color: @comment;
  background: alpha(@foreground, 0.025);
  /*border: 1px solid @color0;*/
  border: 1px solid @visual;
  text-shadow: none;
}


#workspaces {
  background-color: alpha(@background, 1.0);
  color: alpha(@background, 0.5);
  padding: 0px;
  margin: 0px 4px;
  border-radius: 4px;
  border: 1px solid alpha(@bar-border, 0.95);
  font-size: 5px;
  text-shadow:
    -1px -1px 2px @color15,
    1px -1px 2px  @color15,
    1px 1px 2px   @color15,
    -1px 1px 2px  @color15;
  box-shadow: 0px 0px 3px 2px alpha(@visual, 0.5);
  transition: all 0.25s linear;
}

#workspaces button {
  margin: 1px 2px;
  border-radius: 2px;
  background-color: alpha(@color0, 1.0);
  color: @comment;
  border: 1px solid alpha(@visual, 0.5);
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

#workspaces button.active {
  color: @color0;
  background: alpha(@color1, 0.75);
  border-radius: 2px;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: none;
  color: @color7;
  border: 1px solid @visual;
  border-radius: 2px;
  opacity: 0.9;
}

#hyprland-window.empty {
  border: none;
}

#hyprland-window,
#window,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#clock,
#power-profiles-daemon {
  min-width: 10px;
  margin: 1px 1px 1px 1px;
}

#clock {
  font-size: 16px;
}


#backlight {
  font-size: 14px;
}

tooltip {
  padding: 0.5px;
}

.hidden {
  opacity: 1;
  margin: -30px;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  font-size: 16px;
}

tooltip {
  padding: 4px;
  background: @background;
  border: 1px solid alpha(@comment, 0.3);
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px #131313;
  font-size: 12px;
}

tooltip label {
  color: @comment;
  font-weight: normal;
}

#pulseaudio,
#wireplumber,
#backlight,
#power-profiles-daemon,
#network {
  min-width: 40px;
}

#battery {
  min-width: 55px;
}

#cpu {
  min-width: 67px;
}

#memory {
  min-width: 72px;
}

@keyframes blink {
  to {
    color: #4a4a4a;
  }
}

#battery.warning {
  color: #c9aa95;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #A18877;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
