* {
  font-family: Inter Nerd Font Propo;
  font-size: 14px;
  font-weight: 600;
}

.control-center {
  background: alpha(@background, 0.9);
  border: 1px solid alpha(@border, 0.3);
  box-shadow: 0px 0px 1px 1px @shadow;
  margin: 1px;
  border-radius: 8px;
  padding: 10px;
}

.control-center-list {
  background: @background-light;
  color: @text;
  border: 1px solid alpha(@border, 0.3);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .notification-background .close-button,
.notification-group-close-button {
  background: @background-light;
  opacity: 0;
}

.control-center .notification-background {
  background: transparent;
}

revealer > box > box:first-child {
  opacity: 0;
}

revealer > box > box:last-child {
  margin-right: 5px;
}

.widget-title {
  color: @text;
  margin: 10px;
  margin-bottom: -5px;
}

.widget-title > label {
  font-size: large;
  font-weight: bold;
}

.widget-title > button {
  background: @background-light;
  color: @text;
  border: 1px solid alpha(@border, 0.2);
  box-shadow: 1px 1px 1px 1px @shadow;
  border-radius: 6px;
  padding: 2px 4px;
  margin: 2px;
  opacity: 0;
}

.widget-title > button > label {
  font-size: small;
}

.widget-title > button:hover {
  opacity: 0.5;
}

.widget-dnd {
  background: @background-light;
  color: @text;
  border: 1px solid alpha(@border, 0.2);
  box-shadow: 1px 1px 1px 1px @shadow;
  margin: 10px;
  border-radius: 8px;
  padding: 2px 5px 2px 5px;
}

.widget-dnd > switch {
  background: @shadow;
  color: @text;
  min-height: 10px;
  padding: 2px;
  border: 1px solid alpha(@border, 0.2);
  border-radius: 8px;
}

.widget-dnd > switch:checked {
  background: @blue;
  border: 1px solid alpha(@border, 0.2);
  box-shadow: 1px 1px 1px 1px @shadow;
}

.widget-dnd > switch slider {
  min-height: 5px;
  background: @blue;
  border: 1px solid alpha(@border, 0.2);
  border-radius: 8px;
}

.widget-dnd > switch:checked slider {
  background: @background;
}

.widget-label {
  margin: 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text;
}

.widget-buttons-grid {
  background: @background-light;
  border-radius: 8px;
  border: 1px solid alpha(@border, 0.3);
  box-shadow: 1px 1px 1px 1px @shadow;
  padding: 10px 0px 10px 5px;
  margin: 10px;
}

.widget-buttons-grid label {
  font-size: x-large;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @background-alt;
  box-shadow:
    0 0 1px 1px inset alpha(@border, 0.3),
    1px 1px 1px 1px @background;
  margin: 0 6px 0 6px;
  min-height: 35px;
  min-width: 50px;
  border-radius: 8px;
  color: @text;
}

.widget-buttons-grid > flowbox > flowboxchild:first-child > button {
  background: alpha(@brightred, 0.9);
  color: @background;
}

.widget-buttons-grid > flowbox > flowboxchild:last-child > button {
  background: alpha(@brightblue, 0.9);
  color: @background;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  color: @text;
  border: none;
  background: transparent;
}

.widget-backlight,
.widget-volume {
  background: @background-light;
  color: @text;
  box-shadow: 1px 1px 1px 1px @shadow;
  border: 1px solid alpha(@border, 0.2);
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
}

scale {
  margin-left: 5px;
  margin-right: 5px;
}

trough {
  min-height: 6px;
  background-color: @background;
  border-radius: 8px;
}

highlight {
  background-color: @blue;
  border-radius: 8px;
}

.widget-mpris {
  background-color: @background-light;
  border: 1px solid alpha(@border, 0.3);
  box-shadow: 1px 1px 1px 1px @shadow;
  color: @text;
  margin: 10px;
  border-radius: 8px;
}

.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
  border-radius: 0;
  box-shadow: none;
  margin: 10px;
}

.widget-mpris-player {
  background: @shadow;
  border-radius: 8px;
  margin: 10px;
}

.mpris-overlay,
.mpris-overlay > box {
  padding: 5px;
}

picture.mpris-background {
  opacity: 0.15;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
  padding: 5px;
}

.widget-mpris button {
  color: alpha(@text, 0.6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  margin: 5px;
  border-radius: 16px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-size: 0.8rem;
}
